body {
    background-color: #ccc;
}

.main {
    background-color: #fff;
    min-width: 600px;
    min-height: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    padding-top: 20px;
    display: block;
    padding-bottom: 20px;
    font-size: 30px;
}
.otchet{
    border-collapse: collapse;
width:100%;
}
.otchet td, th{
    border: 1px solid #000;
    text-align: center;
    padding: 2px 10px;
}
.gitLink{
    padding-left: 30px;
    padding-top: 30px;
}
.gitLink img {
    width: 50px;
}
/* ------POPUP ------*/
img {
    max-width: 100px;
}
span.tip {
    /* Required */
    position: absolute; //позиция
z-index: 100; //номер слоя по оси z
display: none;

    /* Optional */
    font-size: 15px; //размер шрифта
max-width: 150px; //максимальная ширина всплывающей подсказки
height: auto; //высота подсказки
padding: 10px; //внутренний отступ
border-radius: 3px; //закругление краёв
box-shadow: 0 1px 2px #666; //тень блока
background: #FD0; //цвет заднего фона
}